{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={%static "index.css"%}>
</head>
<body>
    <form action=""  method='post'>
            {% csrf_token %}
        <h3>verification</h3>  
        {% if user.is_authenticated %} 
        username:{{user.username}}  <br>  
    <input type="number" name="otpcode" id="">
        <input type="submit" value="send">
        {% endif %} 
        
    </form>
</body>
</html>
